

NEXT_PUBLIC_API_KONG_URL=http://localhost:8000

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=uma_string_muito_segura_e_aleatoria

AUTH_KEYCLOAK_ISSUER=http://keycloak:8080/realms/crash-game
NEXT_PUBLIC_KEYCLOAK_ISSUER=http://localhost:8080/realms/crash-game
AUTH_KEYCLOAK_ID=crash-game-client
AUTH_KEYCLOAK_SECRET=coloque_aqui_o_secret_do_keycloak