VITE_API_BASE_URL=http://localhost:8000
VITE_WS_URL=http://localhost:4001/games
VITE_KEYCLOAK_ISSUER=http://localhost:8080/realms/crash-game
VITE_KEYCLOAK_CLIENT_ID=crash-game-client
VITE_KEYCLOAK_REDIRECT_URI=http://localhost:3000/auth/callback
VITE_MULTIPLIER_GROWTH_BPS_PER_SECOND=40
VITE_MULTIPLIER_BOOST_AFTER_GAINED_BPS=100
VITE_MULTIPLIER_BOOST_GROWTH_BPS_PER_SECOND=2000
