PORT=4001

DATABASE_URL=postgresql://admin:admin@postgres:5432/games

RABBITMQ_URL=amqp://admin:admin@rabbitmq:5672
RABBITMQ_EXCHANGE=crash.exchange

KEYCLOAK_ISSUER=http://localhost:8080/realms/crash-game,http://keycloak:8080/realms/crash-game
KEYCLOAK_JWKS_URI=http://keycloak:8080/realms/crash-game/protocol/openid-connect/certs

BETTING_DURATION_MS=8000
COOLDOWN_MS=4000
TICK_INTERVAL_MS=100
GROWTH_RATE_PER_MS=0.00007
HOUSE_EDGE=0.01
MAX_MULTIPLIER_HUNDREDTHS=100000000
MIN_BET_CENTS=100
MAX_BET_CENTS=100000
SEED_CHAIN_LENGTH=10000
